<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </button>

  <span><img class="my-img" src="assets/logo.png"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span class="material-icons">search </span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons">
      person
    </span>
  </button>
</mat-toolbar>



<mat-drawer-container class="example-container" autosize opened>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <ul class="my-links">
      <li><i class="fas fa-home"> <a routerLink="home">Home</a> </i></li>
      <li><i class="fas fa-book"> <a routerLink="about">OurBook</a> </i></li>
      <li> <i class="fas fa-book-open"> <a routerLink="lib">Library</a> </i></li>
    </ul>
    

  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

