<section>
    <div class="first-con">
        <header>
            <div>
                
                <h1>The Best Libraries That<br>
                    Every Book Lover Must<br>
                    Visit!
                </h1>
                <p>
                    adipiscing elit, sed do eiusmod tempor incididunt ut<br>
                    labore et dolore magna aliqua. Ut enim ad minim<br>
                    veniam, quis nostrud exercitation
                </p>
                <p>
                    adipiscing elit, sed do eiusmod tempor incididunt ut<br>
                    labore et dolore magna aliqua. Ut enim ad minim<br>
                    veniam, quis nostrud exercitation
                    
                </p>
            </div>


            <div>
                <button class="btn" mat-stroked-button>Read more</button>
            </div>


            <div class="social link">
                <i class="fab fa-facebook my"></i>
                <i class="fab fa-twitter my" ></i>
                <i class="fab fa-linkedin my"></i>
                <i class="fab fa-instagram my"></i>
                
            </div>



        </header>

    </div>
</section>